.wrapper {
    background: white;
    border: 1px solid #ccc;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.clip-list {
    height: calc(100vh - 50px);
    overflow-y: auto;
}

.clip-item {
    display: flex;
    align-items: center;
    min-height: 34px;
    padding: 0 10px;
    font-size: 14px;
    border-bottom: 1px solid #c7cbd1;
    cursor: pointer;
    user-select: none;
    font-family: Consolas, sans-serif;
}

.clip-item:last-child {
    border-bottom: none;
}


.clip-item.selected {
    background: #c7cbd1;
}

.clip-item .clip-text {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clip-item .clip-icon {
    font-size: 16px;
    margin-right: 10px;
    color: #555;

}

.clip-item .clip-icon.image {
    /*color: #339af0;*/
}

.clip-item .clip-icon.file {
    /*color: seagreen;*/
}

.clip-item .clip-color {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid black;
}

.clip-item .clip-image {
    max-height: 80px;
    max-width: 90%;
    margin: 5px 5px 5px 0;
    border-radius: 5px;
}

.no-clips {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #444;
}

.search-block {
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.search-input-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    width: 100%;
    padding: 5px 10px 5px 35px;
    border-radius: 30px;
    outline: none;
    border: 1px solid transparent;
    background: #f1f3f5;
    font-family: Montserrat, sans-serif;
    margin-right: 5px;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    z-index: 2;
}

.settings-btn {
    color: #777;
    font-size: 16px;
    cursor: pointer;
    transition: all .1s;
}

.settings-btn:hover {
    color: #444;
    transform: rotate(90deg);
}

.settings {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.settings-wrapper {
    flex: 1;
}

.setting-item {
    margin: 20px;
}

.setting-label {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
}

.setting-block {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;

    display: flex;
    align-items: center;
}

.setting-block .setting-icon {
    margin-right: 10px;
    color: #555;
}

.inp {
    outline: none;
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 12px;
}

.setting-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 20px;
}

.setting-button {
    margin-right: 5px;
    background: #6c757d;
    outline: none;
    border: none;
    color: white;
    border-radius: 3px;
    padding: 5px 15px;
    cursor: pointer;
    transition: .1s background;
}

.setting-button:hover {
    background: #5a6268;
}

.setting-button.blue {
    background: #2358c8;
}

.setting-button.blue:hover {
    background: #2346c8;
}