.wrapper {
    background: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100vw;
    height: 100vh;
}

.app {
    height: 100%;
    overflow-y: auto;
}

.clip-item {
    padding: 5px 10px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: .1s background;
    user-select: none;
}

.clip-item:hover {
    background: #ccc;
}

.clip-item .clip-text {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clip-item:last-child {
    border-bottom: none;
}